@page
@model Sacrament_Planner.Pages.Speakers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].SacramentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Speaker) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SpeakerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SpeakerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SpeakerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
