@page
@model Sacrament_Planner.Pages.Plans.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card" style="max-width: 600px; margin: 2rem auto;">
    <div class="card-body">
        <h1 class="text-center">Details</h1>

        <div>
            <h4 class="text-center">Sacrament Plan</h4>
            <hr />
            <dl class="row text-center">
                <dt class="col-sm-6">
                   @Html.DisplayNameFor(model => model.Sacrament_Plan.MeetingDate)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Sacrament_Plan.MeetingDate)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Sacrament_Plan.ConductingLeader)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Sacrament_Plan.ConductingLeader)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Sacrament_Plan.OpeningSong)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Sacrament_Plan.OpeningSong)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Sacrament_Plan.SacramentHymn)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Sacrament_Plan.SacramentHymn)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Sacrament_Plan.ClosingSong)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Sacrament_Plan.ClosingSong)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Sacrament_Plan.MusicalNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Sacrament_Plan.MusicalNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Sacrament_Plan.IntermediateHymn)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Sacrament_Plan.IntermediateHymn)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Sacrament_Plan.OpeningPrayer)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Sacrament_Plan.OpeningPrayer)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Sacrament_Plan.ClosingPrayer)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Sacrament_Plan.ClosingPrayer)
                </dd>

                <!-- Speakers -->
                @foreach (var speaker in Model.Speakers)
                {
                    <dt class="col-sm-6 text-center">
                        Speaker
                    </dt>
                    <dd class="col-sm-6 text-center">
                        @speaker.Name -  @speaker.Subject
                    </dd>
                }
            </dl>
        </div>
        <div class="text-center">
            <a asp-page="./Edit" asp-route-id="@Model.Sacrament_Plan.ID">Edit</a> |
            <a asp-page="./Index">Back to List</a>
        </div>

</div>
</div>