@page
@model Sacrament_Planner.Pages.Plans.IndexModel

@{
    ViewData["Title"] = "Index";
}


    <div class="jumbotron">
        <h1 class="display-4">Sacrament Planner</h1>
        <p class="lead">Build your sacrament planner here. Just click Create New below</p>
        <hr class="my-4">
        <button class="btn btn-primary btn-lg" role="button"><a asp-page="Create" class="text-white">Create New</a></button>
        <p>You can see your previous plans below.</p>
    </div>


<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Sacrament_Plan[0].MeetingDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sacrament_Plan[0].ConductingLeader)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sacrament_Plan)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeetingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConductingLeader)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

